.jit{
	  color: white;
}
.slime{
	text-align:center;
}
.crodie{
	font-size: 1750%;
	text-shadow: 10px 10px 20px green;
}
body{
 background-image: url("/static/blackjacktable.jpg");
 background-size: cover;
            /* Center the background image */
            background-position: center;
            /* Prevent background image from repeating */
            background-repeat: no-repeat;
            /* Attach the background image to the viewport (helps with scrollable pages) */
            background-attachment: fixed;
}