{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}

{% block content %}


<p>money: {{chips}}</p>
<div class="row"> <!--bottom row with chips not in play -->
	<div class="col-sm-4">
		<form action="/" method="post">
			<div class="form-check">
				<button type="submit" value="1" name="AddChips"class="btn btn-outline-dark btn-lg">Get more Chips</button>
			</div>
		</form>
	</div>
</div>
  
  
   <p>{{ held }}</p>
    <p>{{ total_value }}</p>
	


<footer class="footer p-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 d-grid">
			<button name="hit" class="jit btn btn-outline-dark btn-lg">hit</button>
			</div>
			<div class="col-sm-6 d-grid">
			<button name="hold" class="jit btn btn-outline-dark btn-lg">hold</button>
			</div>
		</div>
	</div>	
	<div class="container">
		<div class="row">
			<div class="col-sm-6 d-grid">
			<button name="bet1" class="btn btn-outline-dark btn-lg">bet 1</button>
			</div>
			<div class="col-sm-6 d-grid">
			<button name="bet10" class="btn btn-outline-dark btn-lg">bet 10</button>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 d-grid">
			<button name="bet100" class="btn btn-outline-dark btn-lg">bet 100</button>
			</div>
			<div class="col-sm-6 d-grid">
			<button name="allin" class="btn btn-outline-dark btn-lg">all in</button>
			</div>
		</div>
	</div>
</footer>



{% endblock %}
