{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}

<h1 class="jit slime crodie"> Scoreboard <h1>
<!--
  <h2 class="jit">Top Highscores</h2>
    {% if highscore_list %}
        <ol>
            {% for username, score in highscore_list %}
                <li class="jit">{{ username }}: {{ score }} Chips</li>
            {% endfor %}
        </ol>
    {% else %}
        <p class="jit">No highscores available.</p>
    {% endif %}
-->

{% for doc in documents|sort(attribute='Score', reverse=true) %}
	<h1 class="jit slime">User: {{doc.User}}</h1>
	<h5 class="jit slime">Score: {{doc.Score}}</h5>
{% endfor %}

{% endblock %}
