{% extends "layout.html" %}

{% set active_page = "page1" %}

{% block title %}page1{% endblock %}

{% block content %}

<h1 class="jit slime crodie boldy"> Scoreboard <h1>
<!--
  <h2 class="jit">Top Highscores</h2>
    {% if highscore_list %}
        <ol>
            {% for username, score in highscore_list %}
                <li class="jit">{{ username }}: {{ score }} Chips</li>
            {% endfor %}
        </ol>
    {% else %}
        <p class="jit">No highscores available.</p>
    {% endif %}
-->
<div class="container-fluid mt-3">
	<div class="row">
		<div class="col-1">
		</div>
		<div class="col-5">
			<h1 class="jit choner boldy">Player :</h1>
			{% for doc in documents|sort(attribute='Score', reverse=true) %}
				<h1 class="jit slime">{{doc.User}}</h1>
			{% endfor %}
		</div>
		
	
		<div class="col-5">
			<h1 class="jit choner boldy">Score :</h1>
			{% for doc in documents|sort(attribute='Score', reverse=true) %}
				<h1 class="jit slime">{{doc.Score}}</h1>
			{% endfor %}
		</div>
		<div class="col-1">
		</div>
	</div>
</div>
{% endblock %}
